

.btn-primary {
    background-color: #3498db;
    border: none;
}

.btn-primary:hover {
    background-color: #086cb2;
}



.form-control {
    background-color: #fff;
    border: 2px solid #b0b0b0;
}

#enviar {
    background-color: #3498db;
    color: #fff;
    border: none;
}

#enviar:hover {
    background-color: #086cb2;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mt-4.mb-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

h3 {
    color: #000;
}
